<div class="about">
	<div class="container">
		<h1>About</h1>

		<hr>
		<div class="row">
			<div class="col-12 col-sm-4 col-md-4">
				<%= image_tag "profile.jpg", width:300, height:250, alt: "profile image" %>
			</div>

			<div class="col-12 col-sm-8 col-md-8">
				<p>E-commerce is the activity of buying or selling of products on online services or over the Internet. Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems.</p>
				<p>The need for electronic commerce emerged from the need to use computers more efficiently in banks and corporations. With the increasing competition there was a need amongst organizations to increase customer satisfaction and information exchange. Electronic commerce started with the introduction of electronic funds transfer (EFT) by banks. Over time many variants of EFTs within banks were introduced like debit cards, credit cards and direct deposits.It can help organizations do business 7 days a week and 24 hours a day.</p>

			</div>
		</div>
	</div>