<div class="cart">
	<% if user_signed_in? %>
	<h1>Select a delivery address</h1>

	<hr>

	<%= link_to "Add Address ", new_address_path, class: "btn btn-danger"%> 

	<% else %>

	<h1>Add to Cart</h1>

	<hr>


	<%= link_to 'Login', new_user_session_path, class: "btn btn-lg btn-primary center" %> &nbsp;
	<% end %>

</div>