@import "bootstrap";
.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}


.card-text {
  font-size: 85%;
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.margin-top {
  margin-top: 3rem;
}

.center {
  text-align: center;
}

.footer-style {
  text-align: center;
  color: black;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
  color: black;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  carousel-item: image-url('carousel1.png') no-repeat;
    carousel-item: image-url('carousel2.png') no-repeat;
  carousel-item: image-url('carousel3.png') no-repeat;

}