@import "bootstrap";

/*
 * Base structure
 */
 body {
  height: 100%;
}
body {
  color: black;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
} 


@media  (max-width: 768px) {
  .container {
    text-align: center;
    position: fixed;
  }
}

@media only (max-device-width: 370px) {
  .col-md-9 {
    font-size: 1rem;
  }

}  
@media only (max-device-width: 412px) {
  .col-md-9 {
    font-size: 1rem;
  }

}


.btn-primary{
  margin-top: 0px;
}


/* Bootstrap cards*/

.card {
  float: left;
  width: auto;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 0 none;
  height: auto;
}

.card-text {
  font-size: 88%;
}
.card img {
  border-style: none;
  height: 12rem;
  width: 12rem;
  object-fit: contain;
}
div .card {
  border: none;
}


@media only screen 
and (min-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 17rem ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}


@media screen and (max-width:513px) {
 .card {
  margin-bottom: 2rem;
  border: 0;
  padding: 3rem;
  height: auto;
  margin-left: 1rem;
}

.card > img {
  margin-bottom: .75rem;

}
div .card {
  border: none;
}
}
@media screen and (max-width:360px) {
 .card {
  margin-bottom: 2rem;
  border: 0;
  padding: 3rem;
  height: auto;
  margin-left: 1rem;
}

.card > img {
  margin-bottom: .75rem;

}
div .card {
  border: none;
}
}



@media only screen 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 0rem  ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}
@media only screen 
and (max-device-width: 5036px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 0rem  ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}


body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.margin-top {
  margin-top: 3rem;
}

.center {
  text-align: center;
}

.mastfoot {
  text-align: center;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
  color: black;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  carousel-item: image-url('carousel1.png') no-repeat;
  carousel-item: image-url('carousel2.png') no-repeat;
  carousel-item: image-url('carousel3.png') no-repeat;

}


.home{
  margin-top: 4rem;
}

.login{
  margin-top: 6rem;
  color: black;
}
.register{
  margin-top: 6rem;
  color: black;
}
.pass{
  margin-top: 6rem;
  color: black;
}

@media (min-width: 350px) 
and (max-width: 370px) {
  .col-12 .card {
    width: auto;
    padding: 1.5rem;
    float: left;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }
} 

@media (min-width: 320px) 
and (max-width: 380px) {
  .col-12 .card {
    width: auto;
    padding: 1.25rem;
  }
} 

@media (min-width: 320px) 
and (max-width: 415px) {
  .col-12 .card {
    width: auto;
    padding: 2.25rem;
  }
} 

