@import "bootstrap";

body {
	height: 100%;
}
body {
	text-align: center;
}

.background-image {
  position :fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -400;
  -webkit-transform: translateX(-30%) translateY(-70%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('cover.jpg') no-repeat;
  background-size: cover;
}
@media  (max-width: 768px) {
	.container {
		text-align: center;
		position: fixed;
	}
}

@media only (max-device-width: 370px) {
	.col-md-9 {
		font-size: 1rem;
	}

}  
@media only (max-device-width: 412px) {
	.col-md-9 {
		font-size: 1rem;
	}

}


 .contact {
    margin-top: 4rem;
    color: black;
  }
.container-fluid{
  margin-top: 4rem;
    color: black;
}
.cart{
  margin-top: 4rem;
    color: black;
}


.mastfoot {
  text-align: center;
    color: black;
}
