<p id="notice"><%= notice %></p>

<%= render 'products/banner' %>

<h1>Products</h1>

<% @products.each do |product| %>
<div class="card">
  <img src="http://via.placeholder.com/250x250"
 class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      <h3><%= product.title %></h3>
      <p><%= product.price %></p>
    </p>
  </div>
</div>
<% end %>