<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Ecommerce App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pages/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pages/cart/">Cart</a>
        </li>
      </ul>
     
    </div>
  </nav>
</header>